{% extends 'main.html' %}
{%load static %}
{% block content %}
    {% if messages.error %}
    {{ error }}
    {% endif %}
    <div class="col-md-5 container align-content-center">
        <h2 class="text-lg-center">Login</h2>
        <hr>
        <div class="card-body">
            <form action="{% url 'login' %}" method="POST" autocomplete="off">
                {% csrf_token %}
                <label for="email">Email:</label>
                <input type="text" name="email">
                <label for="email">Senha:</label>
                <input type="text" name="password">
                <div class="text-center">
                    <input type="submit" class="col-md-4 btn btn-dark" value="Entrar">
                </div>
                        <div id="bt-esq-senha" class="text-center">
                            <a href="{% url 'cadastro_form' %}" id="bt-esqueci-senha">Não tem cadastro? Clique aqui</a>
                        </div>
                    </div>
            </form>
        </div>
    </div>
    


{% endblock %}