{% extends 'main.html' %}
{%load static %}
{% block content %}
    <div class="col-md-5 container align-content-center">
        <h2 class="text-lg-center">Login</h2>
        <hr>
        <div class="card-body">
            <form action="{% url 'login' %}" method="POST" autocomplete="off">
                {% csrf_token %}
                <div class="form-row" >
                    {% if error %}
                    <p style="color: red">{{ error }}</p>
                    {% endif %}
                    <div class="col-md-10 offset-md-1">
                        <div class="form-group">
                            <label class="mb-1">Email:</label>
                            <input type="email" class="form-control" id="id-email-login" name="email" required
                                    placeholder="Email">
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-10 offset-md-1">
                        <div class="form-group">
                            <label class="mb-1">Senha:</label>
                            <input type="password" class="form-control" name="senha" id="id-senha-login" required
                                    placeholder="Senha">
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <input type="submit" class="col-md-4 btn btn-dark" value="Entrar">
                </div>
                        <div id="bt-esq-senha" class="text-center">
                            <a href="{% url 'cadastro_form' %}" id="bt-esqueci-senha">Não tem cadastro? Clique aqui</a>
                        </div>
                    </div>
            </form>
        </div>
    </div>
    


{% endblock %}