{% extends 'main.html' %}
{%load static %}
{% block content %}
    <h2 class="text-lg-center">Cadastro</h2>
    {% if cadastro == True %} action="{% url 'cadastro'%}" {% else %} action="{% url 'login' %}"{% endif %} method="POST" autocomplete="off" >
        <div class=" container col-4 align-content-center mt-4 m-auto">
            <div class="row g-3">
            {% csrf_token %}
            <p class=>Nome:</p>
            <input class="form-control mt-1" type="text" name="name" id="name" placeholder="Digite o seu nome" value={{nome.value}} >
            <p>Telefone:</p>
            <input class="form-control mt-1" type="text" name="name" id="name" placeholder="Digite o seu número" value={{telefone.value}} >
            <p>Email:</p>
            <input class="form-control mt-1" type="text" name="email" id="email" placeholder="Digite o Email" value={{email.value}} >
            <p>Senha:</p>
            <input class="form-control mt-1" type="text" name="senha" id="senha" placeholder="Digite a senha" required autofocus>
            <p>Confirmar senha:</p>
            <input class="form-control mt-1" type="text" name="senha-conf" id="senha-conf" placeholder="Repita a senha" required autofocus>
        </div>
        <div class="row g-2" id="botoes-perfil">
            <div class="col-md-3">
                <button type="submit" class="btn btn-success">
                    Cadastrar
                </button>
            </div>
        </div>
    </div>
    </form>
    <div class="col-1 mt-8 m-auto">
        <a class="nav-link" href={% url 'home'%}>Cancelar</a>
    </div>
    
{% endblock %}