{% extends 'main.html' %}
{%load static %}

{% block content %}

{% if user.is_authenticated %}

<div class="container">
    <form class="form-input-group-text" action="" method="post">
        <div class="mb-2 mt-2">
    {% csrf_token %}
    {{ form.as_p }}
    <div class='container'>
    <a href='{% url 'home' %}'>Voltar</a>
    <input class="btn btn-primary" type="submit" value="Salvar">
    </div>
  </form>
    
    <table class="table">
        <thead>
          <tr>
            <th scope="col">*
            </th>
            <th scope="col">{{ form.titulo.label_tag }}</th>
            <th scope="col">{{ form.descricao.label_tag }}</th>
            <th scope="col">{{ form.valor.label_tag }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
</div>
</div>
{% endif %}
{% endblock %}