{% extends 'main.html' %}
{%load static %}
{% block content %}
    <div class="col-md-5 container align-content-center">
        {% if forms.errors %}
        <p>Email ou senha inválidos!</p>
        {% endif %}
        <h2 class="text-lg-center justify-content-center">Login</h2>
        <hr>
            
            <form action="{% url 'login_page' %}" method="POST" autocomplete="off">
                <div class="col-md-6 container justify-content-center ">
                {% csrf_token %}
                {{ form.as_p }}
                </div>
                <div class="text-center justify-content-center">
                    <input type="submit" class="col-md-7 btn btn-dark" value="Entrar">
                </div>
                        <div id="bt-esq-senha" class="text-center">
                            <a href="{% url 'register' %}" id="bt-esqueci-senha">Não tem cadastro? Clique aqui</a>
                    </div>
                </div>
            </form>
        
        </div>
    </div>
    


{% endblock %}