{% extends 'main.html' %}
{%load static %}
{% block content %}
    <div class="col-md-5 container align-content-center">
        {% if forms.error %}
        <p>Email ou senha inválidos!</p>
        {% endif %}
        <h2 class="text-lg-center">Login</h2>
        <hr>
        <div class="card-body">
            <form action="{% url 'login_page' %}" method="POST" autocomplete="off">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-center">
                    <input type="submit" class="col-md-4 btn btn-dark" value="Entrar">
                </div>
                        <div id="bt-esq-senha" class="text-center">
                            <a href="{% url 'register' %}" id="bt-esqueci-senha">Não tem cadastro? Clique aqui</a>
                        </div>
                    </div>
            </form>
        </div>
    </div>
    


{% endblock %}