{% extends "main.html" %}

{% block content %} 

{% if messages.error %}
{% endif %}
<!--Cadastro--> 
<div class="container">
<h2 class="justify-content-center">Cadastro</h2>
</div>
<div class="row g-3 ">
	<div class="container justify-content-center">
		<div class="text-xxl-center text-white "></div>
		<form method="POST" class="form-group col">
			{% csrf_token %}
			{{ form.as_p}}                    
			<input class="btn btn-primary" type="submit">
			<p class="text-center">Já possui conta? Faça <a href="{% url 'login_page'%}">login aqui</a>.</p>
		</form>
		
	</div>	
</div>

{% endblock %}